<h1></h1>
<div class="row">
<h5>Connexion en temps que conseiller :</h5>
</div>
<div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input placeholder="pseudo" id="pseudo" name="pseudo" type="text" class="validate" [(ngModel)]="pseudo">
              <label for="pseudo">Nom utilisateur</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">https</i>
              <input placeholder="Mot de passe" id="mdp"  name="mdp" type="text" class="validate" [(ngModel)]="mdp">
              <label for="mdp">Mot de passe</label>
            </div>
            <div class="input-field col s6">
              <button class="waves-effect waves-light btn" type="submit" (click)="login()">Se connecter</button>
              <div>{{message}}</div>
            </div>
          </div>
        </form>
      </div>
            