<h1></h1>
<div class="row">
<h5>Connexion en temps que conseiller :</h5>
</div>
<div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input placeholder="pseudo" id="pseudo" type="text" class="validate">
              <label for="pseudo">Nom utilisateur</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">https</i>
              <input placeholder="Mot de passe" id="mdp" type="text" class="validate">
              <label for="mdp">Mot de passe</label>
            </div>
            <div class="input-field col s6">
              <button class="waves-effect waves-light btn">Se connecter</button>
            </div>
          </div>
        </form>
      </div>
            