<div class="col-6">
    <h3>Actions possible par le conseiller :</h3>
    <form>
        <label>Recherche du client par id :</label>
        <input type="number"/>
        <input type="submit"  class="waves-effect waves-light btn"/>
    </form>
    <form>
        <label>Recherche du compte par numéro :</label>
        <input type="number"/>
        <input type="submit"  class="waves-effect waves-light btn"/>
    </form>
    <button class="waves-effect waves-light btn">Accéder aux requêtes</button>
    <button class="waves-effect waves-light btn">Accéder aux demandes d'ouvertures</button>
</div>
