<div class="col-6">
    <table>
        <thead>
          <tr>
            <th>Matricule</th>
            <th>Pseudo</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{conseiller.matricule}}</td>
            <td>{{conseiller.pseudo}}</td>
            <td>{{conseiller.prenom}}</td>
            <td>{{conseiller.nom}}</td>
            <td>{{conseiller.email}}</td>
          </tr>
        </tbody>
      </table>
</div>
