<h2>Liste des demandes d'ouverture de compte</h2>
<div class="col-6">
        <table>
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Revenu</th>
                <th>Action</th>
                <th>{{demandes}}</th>
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let demande of demandes">
                <td>{{demande.clientPotentiel.nom}}</td>
                <td>{{demande.clientPotentiel.prenom}}</td>
                <td>{{demande.clientPotentiel.revenu}}</td>
                <td><button class="waves-effect waves-light btn" routerLink="">Valider</button></td>
              </tr>
            </tbody>
          </table>
    </div>